spring.jackson.serialization.write_dates_as_timestamps=false

cloud.aws.credentials.instanceProfile=false

cloud.aws.credentials.accessKey=
cloud.aws.credentials.secretKey=

cloud.aws.region.static=us-east-1
aws.sns.topic.allDevices=arn:aws:sns:us-east-1:977107734260:qettal-all-devices

server.port=8081
